@model CreateFragrance

@{
    ViewData["Title"] = "Add Fragrance";
}
<h2>Add Fragrance</h2>
<div class="fragrance-input">
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <div>
        <label asp-for="Fragrance.Stock">Stock</label>
        <input asp-for="Fragrance.Stock" class="form-control" />
        <span asp-validation-for="Fragrance.Stock" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.FragranceDescription">Description</label>
        <textarea asp-for="Fragrance.FragranceDescription" class="form-control"></textarea>
        <span asp-validation-for="Fragrance.FragranceDescription" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.Smell">Smell</label>
        <input asp-for="Fragrance.Smell" class="form-control" />
        <span asp-validation-for="Fragrance.Smell" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.Notes">Notes</label>
        <textarea asp-for="Fragrance.Notes" class="form-control"></textarea>
        <span asp-validation-for="Fragrance.Notes" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.Rating">Rating</label>
        <input asp-for="Fragrance.Rating" class="form-control" type="number" step="0.1" min="0" max="5" />
        <span asp-validation-for="Fragrance.Rating" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.DiscountPercentage">Discount Percentage</label>
        <input asp-for="Fragrance.DiscountPercentage" class="form-control" type="number" step="0.01" min="0" max="100"/>
        <span asp-validation-for="Fragrance.DiscountPercentage" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.Price">Price</label>
        <input asp-for="Fragrance.Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Fragrance.Price" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.FragranceName">Fragrance Name</label>
        <input asp-for="Fragrance.FragranceName" class="form-control" />
        <span asp-validation-for="Fragrance.FragranceName" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.BrandId">Brand</label>
        <select asp-for="Fragrance.BrandId" class="form-control">
            @foreach (var brand in Model.Brands)
            {
                <option value="@brand.Id">@brand.BrandName</option>
            }
        </select>
        <span asp-validation-for="Fragrance.BrandId" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.FragrancePhoto">Fragrance Photo (URL)</label>
        <input asp-for="Fragrance.FragrancePhoto" class="form-control" type="url" />
        <span asp-validation-for="Fragrance.FragrancePhoto" class="text-danger"></span>
        </div>
        <div>
        <label asp-for="Fragrance.Sex">Gender</label>
        <input asp-for="Fragrance.Sex" class="form-control"/>
        <span asp-validation-for="Fragrance.Sex" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>
